body {
  background-color: #e3f0ff;
}

main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#show-part {
  display: block;
  width: 850px;
  margin: 0;
  padding: 24px;
  text-align: center;
}

#login-part {
  border: none;
  width: 425px;
  height: 525px;
  display: block;
  margin: 4rem auto 4.4rem auto;
  text-align: center;
  background-color: rgb(65, 60, 58);
  border-radius: 10px;
  padding: 0rem 0;
}

#login-part h1 {
  font-size: 1.8rem;
  font-weight: 700;
  color: white;
}

#login-part p {
  color: white;
}

#login-part img {
  position: relative;
  top: -1rem;
  width: 5rem;
  height: 5rem;
}

/* this is make the inputs to the center */
#login-part #inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#inputs input {
  width: 60%;
}

#login-part input {
  margin: 0.2rem auto;
  padding: 0.6rem 2.5rem 0.6rem 0.3rem;
  border: none;
  border-radius: 6px;
}

#login-part input:focus {
  box-shadow: 4px 4px 15px rgba(0, 253, 186, 0.325);
  outline: none; /* ama outline nahelet la dawt inputakan kate clicke lasar dakret */
  transform: scale(1.04);
}

.remembers {
  display: flex;
  margin-top: 10px;
  justify-content: space-evenly;
  font-size: 14px;
}

#remember-me-label {
  color: white;
}

input[type="checkbox"]:checked {
  accent-color: rgb(60, 255, 0);
}

input[type="checkbox"]:checked + #remember-me-label {
  color: rgb(60, 255, 0);
  font-weight: bold;
}

button {
  border: none;
  padding: 0.4rem 4.5rem;
  border-radius: 6px;
  color: white;
  background-color: gold;
  font-size: large;
  font-weight: 600;
  width: 70%;
  cursor: pointer;
  /* bo brdna centere button */
  display: block;
  margin: 1rem auto;
}

button:hover {
  transition: 0.5s;
  color: black;
  transform: scale(1.04);
}

.links a {
  text-align: center;
  display: block;
  width: 65%;
  height: 25px;
  margin: 20px auto;
  font-size: medium;
  padding: 5px 10px;
  border-radius: 15px;
  background-color: gold;
  color: white;
  margin-bottom: 50px;
}

.links a:hover {
  transition: 0.5s;
  color: black;
  background-color: gold;
  transform: scale(1.04);
}
